.tale-list-item {
  padding: 1em;
}
.tale-list-item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}
.tale-list-item .header {
  display: flex;
  align-items: center;
}
.tale-list-item .header .title {
  flex: 1;
}
.tale-list-item .title .mat-title {
  margin-bottom: 0;
}
.tale-list-item .title .mat-caption {
  margin: 0;
  color: rgba(0, 0, 0, .54);
}
.tale-list-item .mat-expansion-panel {
  box-shadow: none;
  margin: 0 -24px -16px;
}
.tale-list-item .expansion-panel-trigger {
  transition: transform .3s ease-out;
}
.tale-list-item .expansion-panel-trigger.is-open {
  transform: rotate(180deg);
}
