<mat-accordion multi="true">

  <div class="tale-list-item" *ngFor="let tale of taleList; index as i">

    <div class="header">
      <div class="title">
        <h2 class="mat-title"><a routerLink="/relato/{{tale.id}}" color="primary">{{tale.title}}</a></h2>
        <p class="mat-caption">{{getTaleDate(tale.date)}}</p>
      </div>
      <button mat-icon-button color="primary" class="expansion-panel-trigger" (click)="tale.open = !tale.open" [ngClass]="{'is-open': tale.open}">
        <mat-icon aria-label="Mostrar detalles">keyboard_arrow_down</mat-icon>
      </button>
    </div>

    <mat-expansion-panel class="content" [expanded]="tale.open === true">
      <p>{{tale.synopsis}}</p>
      <mat-chip-list>
        <mat-chip>{{tale.words}} palabras</mat-chip>
        <mat-chip>{{getLectureTime(tale.words)}} minutos</mat-chip>
      </mat-chip-list>
    </mat-expansion-panel>

  </div>

</mat-accordion>